*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.navbar{
    /* position: fixed; */
    height: 9vh;
    width: 100vw;
    background-color: #fff;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav-logo{
    /* height: 8vh;
    width: 14vw; */
    height: 2.8vmax;
    width: 11.7vmax;
    margin-left: 1rem;
}
.nav-logo:hover{
    cursor: pointer;
}
.logo{
    background-image: url(img/RCM-Logo.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
}
.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 40px; */
    margin-left: 0;
}
.nav-bar{
    margin-left: 0.5rem;
    font-size: 1rem;
}
.option-border{
    border: none;
    background-color: #fff;
    font-size: 1rem;
    border-radius: 1rem;
    color: #4b4b67;
}
.option-border:hover{
    cursor: pointer;
    color: black;
}
/* Search Bar & Icon. */
.nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 5vh;
    width: 30vw;
    border-radius: 1rem;
}
.search-icon{
    height: 100%;
    width: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
}
.search-input{
    height: 80%;
    width: 90%;
    border: none;
    font-size: 1.5rem;
    border-top-right-radius: 0.9rem; 
    border-bottom-right-radius: 0.9rem;
    background-color: lightgray;
}
.nav-search:hover{
    border: 0.05em solid black;
    cursor: pointer;
}
input:focus{/*Search Bar per click kerne ke baad internal border ko remove kanrne ke liye.*/
    outline: none;
}
.nav-account-location{
    height: 35px;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-login{
    margin: 10px;
    font-size: 1rem;
    color: #4b4b67;
}
.nav-cart{
    margin: 10px;
    font-size: 1.2rem;
    color: #4b4b67;
}
.nav-location{
    margin: 10px;
    font-size: 1rem;
    color: #4b4b67;
}
.nav-account-location .hover:hover{
    cursor: pointer;
    color: black;
}

.menu-icon i{
    font-size: 2vw;
    display: none;
}
.nav-account-location i{
    font-size: 1.5rem;
}
/* .nav-location .hover:click{
  yhan pe ak pop up bar dalna hai jo click karte he puche ki enter your pin code.
} */
/* .main-content p{
    height: 400px;
    width: 500px;
    /* background-color: black; */

header{
    position: fixed;
    top: 0px;
    z-index: 1;
    }

main{
    margin-top: 4.5rem;  /*Fixed Navigation bar ke liye top se margin chorni padegi.  */
}
    .main{
    font-family: 'sans-serif','Muli'; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
    overflow: hidden;
    background-color: #06162029;
}
.container{
    display: flex;
    width: 100%;
}
.panel{
    background-size: auto 73%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: black;
    cursor: pointer;
    flex: 0.4;
    margin: 0.2rem;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.panel.active{
    flex: 25;
}
/* .panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    color: black;
} */
@media(max-width: 480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}

@media(max-width: 1200px){
    .nav-logo{
        height: 6vh;
        width: 16vmax;
    }
    .navbar{
        background-color: yellowgreen;
    }
    .menu-icon i{
        font-size: 3vmax;
        display: block;
        font-weight: 700;
    }
    .nav-bar{
        display: none;
    }
    /* .nav-search i{
        display: block;
    } */
    .nav-account-location span{
        display: none;
        font-weight: 700;
        font-size: 3vmax;
        height: 8vh;
    }
}
@media screen and (max-width:800px){
    .nav-search{
        display: none;
    }
    .nav-logo{
        height: 8vmin;
        width: 30vmax;
    }
}
.twoBox{
    height: 70vh;
    width: 95%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    /* padding: 2.5rem 2rem; */
    padding-bottom: 2.5rem;
    margin-left: 2rem;
    /* margin-right: 2rem; */
    /* background-color: yellow; */
    }
.box1{
    background-image: url(/img/img-NO.1.jpg);
    height: 70vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3rem;
}
.box2{
    background-image: url(/img/img-NO.2.jpg);
    height: 70vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3rem;
}

/* GRID SECTION */
.Container{
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    margin: 1rem;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.bumperDhamaka{
    background-image: url(./img/grid-section-1.jpg);
    background-size: cover;
    grid-column: span 2;
    grid-row: span 2;
}
.nutricharge{
    background-image: url(./img/grid-section-2.jpg);
    background-size: cover;
}
.Grocery{
    background-image: url(./img/grid-section-3.jpg);
    background-size: cover;
}
.personalCare{
    background-image: url(./img/grid-section-4.jpg);
    background-size: cover;
}
.MFashion{
    background-image: url(./img/grid-section-5.jpg);
    background-size: cover;
}
.WFashion{
    background-image: url(./img/grid-section-6.jpg);
    background-size: cover;
}
.KFashion{
    background-image: url(./img/grid-section-7.jpg);
    background-size: cover;
}
.footwears{
    background-image: url(./img/grid-section-8.jpg);
    background-size: cover;
}
.bagAccessories{
    background-image: url(./img/grid-section-9.jpg);
    background-size: cover;
}
.Household{
    background-image: url(./img/grid-section-10.jpg);
    background-size: cover;
}
.paintConstruction{
    background-image: url(./img/grid-section-11.jpg);
    background-size: cover;
}
.agriculture{
    background-image: url(./img/grid-section-12.jpg);
    background-size: cover;
}

/* Indian Family Photo. */
.familyPhoto{
    height: 60vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
}
.photo{
    background-image: url(/img/indian\ family\ enjoying\ holidays.jpg);
    background-size: cover;
    height: 100%;
    width: 50%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.content{
    height: 100%;
    width: 50%;
    color: white;
    background-color: #1359E6;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    align-content: center;
    font-size: 2rem;
    text-align: center;
}
.content button{
    font-size: 1.5rem;
    border-radius: 3rem;
    margin-top: 4rem;
    height: 6vh;
    width: 15vw;
    background-color: #1359E6;
    border: 2px solid white;
    text-decoration: none;
}
.content a{
    text-decoration: none;
    color: white;
}
.content button:hover{
    background-color: wheat;
    color: #1359E6;
}


.main2{
    font-family: 'sans-serif','Muli'; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    /* background-color: #06162029; */

}
.container2{
    display: flex;
    width: 100%;
}
.panel2{
    background-size: auto 62%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: black;
    cursor: pointer;
    flex: 0.5;
    margin: 0.2rem;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel2 h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.panel2.active2{
    flex: 25;
}

.main3{
    font-family: 'sans-serif','Muli'; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background-color: #06162029;
}
.container3{
    display: flex;
    width: 100%;
}
.panel3{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: black;
    cursor: pointer;
    flex: 0.5;
    margin: 0.5rem;
    position: relative;
    transition: flex 0.5s ease-in;
}
.panel3 h2{
    display: flex;
    position: relative;
    justify-self: center;
    bottom: 2px;
    opacity: 1;
    color: black;
}
.panel3.active3{
    flex: 20;
}

@media(max-width: 480px){
    .container3{
        width: 100vw;
    }
    .panel3:nth-of-type(4),
    .panel3:nth-of-type(5){
        display: none;
    }
}

/* MobileIMAGE-download-apps */

.downloadInfo{
    background-color: lightgray;
    height: 30vh;
    display: flex;
    align-items:end;
    justify-content: center;
    margin-top: 5rem;
}
.mobileImg{
    height: 40vmin;
    width: 15vmax;
    background-image: url(./img/phone.photo.jpg);
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.appsInfo{
    margin-left: 4rem;
    margin-top: 0;
    font-size: 1.5rem;
}
.downloadApps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.downloadApps #android {
    background-image: url(img/Apps-images-forandroid.jpg);
    height: 10vmin;
    width: 16vmax;
    background-size: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.downloadApps #IOS{
    background-image: url(img/Apps-images-forIOS.jpg);
    height: 10vmin;
    width: 16vmax;
    background-size: cover;   
    border-radius: 1rem;
    margin-bottom: 1rem;
}

/* footer */
.foot-panel{
    background-color: #c8e5f9c3;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 25rem;
    margin-top: 0px;  
    font-size: 1.5rem;  
}
ul{
    margin-top: 50px;
}
ul li {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #7777be;
    text-decoration: none;
    list-style-type: none;
}
ul a {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #7777be;
    text-decoration: none;
}
ul a:hover{
    color: orange;
}
.foot-logo{
    background-image: url(img/RCM-Logo.jpg);
    height: 55px;
    width: 220px;
    background-size:contain ;
    margin-left: 0;
    background-color: none;
}
.copyright{
    height: 60px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color: #d0d0ea;
}
.social-media{
    margin-right: 20px;
    font-size: 20px;
}
.social-media i:hover{
    color: orange;
}
.foot-logo:hover {
    cursor: pointer;
}
.social-media i{
    margin-right: 5px;
}
.copyright p{
    margin-left: 10px;
}